<% if flash[:info] %>
  <p class="alert alert-info"><%= flash[:info] %></p>
<% end %>
<% if flash[:danger] %>
  <p class="alert alert-danger"><%= flash[:danger] %></p>
<% end %>
<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>