<% content_for :title do %>こんな時どうするの利用方法(FAQ) - こんな時どうする？<% end %>

<p class="itemTitleBlue">こんな時どうするの利用方法（FAQ） </p>

<p>こんな時どうするの利用方法は、こんな時どうする？「1. 「こんな時どうする？」の使い方を知りたい 」の項目に記述してあります。こちらを参照ください。<p>

<%= render 'list' %>

<p><a href="#" onClick="window.close(); return false;">閉じる</a></p>

