<% content_for :title do %>こんな時どうするの利用方法（FAQ） - こんな時どうする？<% end %>
<% content_for :header do %>こんな時どうするの利用方法（FAQ） <% end %>
<%= render 'header' %>

<p>こんな時どうするの利用方法は、「1. 「こんな時どうする？」の使い方を知りたい 」の項目に記述してあります。こちらを参照ください。<p>

<%= render 'list' %>

<p><a href="#" onClick="window.close(); return false;">閉じる</a></p>

