<% content_for :title do %>VPNから参考資料フォルダを参照するには？ - こんな時どうする？<% end %>
<%= render 'help' %>

<p class="itemTitleBlue">VPNから参考資料フォルダを参照するには？</p>

<p>VPN接続の場合は、ターミナルサーバー（META FRAME）から以下のフォルダを開いてください。<p>
<p>お気に入りに登録しておくと、次回からはスムーズに開くことができます。<p>
<span class="enclosed"><%= FILE_SERVER_PATH  %></span>
<p></p>
<p><a href="#" onClick="window.close(); return false;">閉じる</a></p>


